body {
    width: 95vw;
    display: block;
    margin: 0 auto;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
    background-color:#EEEEEE;
    overflow-y: scroll;
    overflow-x: hidden;
}


a {
    color: #272727;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 700;
}

.wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 80%;
}


/* TYPOGRAPHY */

h1 {
    color: #272727;
    font-family: 'Montserrat', sans-serif;
    font-size:15vw;
    font-weight: 900;
}


h2 {
    color: #272727;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}

h3 {
    margin:0;
}

/* HIDE DROPDOWN ARROWS */ 

details summary::-webkit-details-marker {
    display: none;
}

details > summary {
    list-style: none;
} 

/* DROPDOWN STYLES */


details {
    display: block;
    margin-top: 20px;
}


details summary{
    cursor: pointer;
    box-sizing: border-box;
    background: url("./blackadd.svg");
    background-position:right;
    background-size: 20px;
    background-repeat: no-repeat;
    background-color: #272727;
    background-origin: content-box;
    margin: 0 auto;
    border: 3px solid #272727;
    box-shadow: -3vw 2.5vw #BEBEBE;
    color: #D3D3D3;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 700;
    font-size: 18px;
    padding: 10px;
}

details[open] > summary {
    box-sizing: border-box;
    background: url("./blackminus.svg");
    background-position:right;
    background-size: 20px;
    background-repeat: no-repeat;
    background-color: #272727;
    color: yellow;
    background-origin: content-box;
    box-shadow: -3vw 2.5vw yellow;
}

details p, details ul {
    box-sizing: border-box;
    background: linear-gradient(to bottom, yellow 0%, yellow 100%) no-repeat;
    background-size: calc(100% - 3vw + 3px);
    background-clip: border-box;
    background-position: left;
    color: #272727;
    margin: 0 auto;
    text-align: left;
    border: 3px solid #272727;
    box-shadow: -3vw 2vw yellow;
    padding-right: 10px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type:none;
}

/* BLOG */


.blog-container {
    margin-top: 50px;
    width: 80%;
}

#general:checked + label {
    background:transparent;
}
#general:checked ~ .blog-tiles .general {
    display: none;
  }

#news:checked + label {
    background:transparent;
}
#news:checked ~ .blog-tiles .news {
    display: none;
  }

#projects:checked + label {
    background:transparent;
}
#projects:checked ~ .blog-tiles .projects {
    display: none;
  }

#tutorials:checked + label {
    background:transparent;
  }
#tutorials:checked ~ .blog-tiles .tutorials {
    display: none;
  }

  label {
    border: 2px solid black;
    padding: 7px;
    border-radius: 10px;
    line-height: 2.5;
    background-color: yellow;
}

header {
    width: 80%
}


.blog-header {
    width: 80%;
}

.blog-container {
    margin-bottom: 50px;
    width: 100%;
}

.post-date {
    display: block;
    font-size: 15px;
}

.post-category {
    font-weight: bold;
    font-size: 14px;
    margin-top: auto;
}



.tile {
    height: 110px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: #BEBEBE;
    padding: 10px;
    flex: 30%;
    width: 45%;
    margin-bottom: 5px;
}

.unfiltered {
    height: 110px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: #BEBEBE;
    padding: 10px;
    flex: 30%;
    width: 45%;
    margin-bottom: 5px;
}

.tile:hover {
    background-color: yellow;
}

.unfiltered:hover {
    background-color: yellow;
}

input:not(input:checked) ~ .blog-tiles .unfiltered {
    display: none;
}

.blog-tiles {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    column-count: 2;
    flex-wrap: wrap;
    align-content:space-between;
    column-gap: 5px;
}

/* FOOTER */

footer {
    margin: 20px;
}

/* DESKTOP LAYOUT */

@media screen and (min-width: 800px) {

    .blog-tiles {
        column-gap: 10px;
    }

    .tile {
        height: 150px;
        margin-bottom: 10px;
    }
    
    .unfiltered {
        height: 150px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 100px;
    }

    .wrapper {
        width: 600px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        background-color: #EEEEEE;
    }

    details {
        margin-top: 50px;
    }

    details summary {
        padding: 20px;
        box-shadow: -15px 20px #BEBEBE;
    }

    details p, details ul {
        background-size: calc(100% - 15px + 3px);
        box-shadow: -15px 20px yellow;
        padding: 40px;
        font-size: 20px;
    }

    details[open] > summary {
        box-shadow: -15px 20px yellow;
    }


}

